<!DOCTYPE html>
<html>
<head>
  <title>Noteboard</title>
  <%= stylesheet_link_tag    "noteboard/application", media: "all" %>
  <%= javascript_include_tag "noteboard/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
